.declined-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.declined-title {
  font-family: "Audiowide", system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0;
}

.declined-image {
  width: 270px;
  height: 270px;
  object-fit: contain;
  display: block;
  margin: 0 auto 12px;
}

@media (max-width: 480px) {
  .declined-image {
    width: 128px;
    height: 128px;
  }
}
